# Ignore
*.log
*.tmp
images/aikomassage.png
images/large/aiko.png
images/large/aikodrugs.png
images/large/aikogamble.png
images/large/aikoloan.png
images/large/aikomassage.png
images/large/aikopartner.png
images/large/aikoshock.png
images/large/resize.bat
images/large/taro.png
images/large/tarodrugs.png
images/large/taroloan.png
images/large/taromassage.png
images/large/taroshock.png
images/large/tarogamble.png
images/taropartner.png
images/large/taropartner.png
images/rikupartner.png
images/rikumassage.png
images/large/riku.png
images/large/rikudrugs.png
images/large/rikugamble.png
images/large/rikuloan.png
images/large/rikumassage.png
images/large/rikupartner.png
images/large/rikushock.png
