# Ignore
*.log
*.tmp
images/aikomassage.png
images/large/aiko.png
images/large/aikodrugs.png
images/large/aikogamble.png
images/large/aikoloan.png
images/large/aikomassage.png
images/large/aikopartner.png
images/large/aikoshock.png
images/large/resize.bat
images/large/taro.png
images/large/tarodrugs.png
images/large/taroloan.png
images/large/taromassage.png
images/large/taroshock.png
images/large/tarogamble.png
images/taropartner.png
images/large/taropartner.png
images/rikupartner.png
images/rikumassage.png
images/large/riku.png
images/large/rikudrugs.png
images/large/rikugamble.png
images/large/rikuloan.png
images/large/rikumassage.png
images/large/rikupartner.png
images/large/rikushock.png
images/large/sakuradrugs.png
images/large/sakuragamble.png
images/large/sakura.png
images/large/sakuraloan.png
images/large/sakuramassage.png
images/large/sakurapartner.png
images/large/sakurashock.png
images/sakurapartner.png
images/large/ryo.png
images/large/ryodrugs.png
images/large/ryogamble.png
images/large/ryoloan.png
images/large/ryomassage.png
images/large/ryopartner.png
images/large/ryoshock.png
images/large/aikohappy.png
images/large/rikuhappy.png
images/large/ryohappy.png
images/large/tarohappy.png
images/large/xivato.png
images/large/police.png
images/large/sakurahappy.png
images/large/aikocourier.png
images/large/rikucourier.png
images/large/ryocourier.png
images/large/sakuracourier.png
images/large/tarocourier.png
images/large/aikopriest.png
images/large/rikupriest.png
images/large/ryopriest.png
images/large/sakurapriest.png
images/large/taropriest.png
images/gopoor.jpg
images/goxivato.jpg
images/large/alaric.png
images/large/itsuki.png
images/large/nirvani.png
images/large/vaeren.png
